// ============ VARIABLES ================
// COLORES--------------------
$blue-dark: #13183F;
$gray: #83869A;
$fucsia: #F74780;
$rose: #FFA7C3;
$white: #FFFFFF;
$blue: #69d2f8 ;
$black: #171718;
$green-blue: linear-gradient(180deg,#e6ffa2 0.04%,#69d2f8 100%);

// FUENTES--------------------
$primary-font: 'Plus Jakarta Sans', sans-serif;

// INTERFAZ--------------------
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;