@use '../abstracts/index' as abs;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.158);
  border-radius: 10px;
  position: relative;

  // BOTÓN MENÚ
  &__menu-btn {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 32px;
      height: 32px;
    }
  }

  // LOGO
  &__logo img {
    width: 220px;
  }

  // NAVBAR (MÓVIL + BASE)
  &__navbar {
    display: none;

    &.is-active {
      display: block;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background: white;
      padding: 1rem 1.2rem;
      border-radius: 12px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        list-style: none;
      }

      a {
        position: relative;
        font-weight: 600;
        text-decoration: none;
        color: abs.$blue-dark;
        font-size: 1rem;
        padding: .3rem 0;
        transition: color .25s ease;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0%;
          height: 2px;
          background-color: abs.$blue-dark;
          border-radius: 2px;
          transition: width .25s ease;
        }

        &:hover {
          color: abs.$blue-violet;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  // BUSCADOR
  &__search img {
    width: 32px;
    height: 32px;
  }
}
