@use '../abstracts/index' as abs;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.158);
  border-radius: 10px;

  /* Para que nada se rompa en móviles */
  position: relative;

  &__menu-btn {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 32px;
      height: 32px;
    }

  }
  
  &__logo img {
    width: 220px;
  }
  
  &__navbar {
    display: none; // móvil
    
    &.is-active {
      display: block;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background: white;
      padding: 1rem;
    }
    
    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  &__search img {
    width: 32px;
    height: 32px;
  }
}


