@use '../abstracts/index' as abs;
@use 'sass:color';

.btn {
  @include abs.button(
    $bg: abs.$blue,
    $color: abs.$white,
    $hover-bg: color.adjust(abs.$blue, $lightness: -12%)
  );
}

.btn-secondary {
  @include abs.button(
    $bg: abs.$gray,
    $color: abs.$white,
    $hover-bg: color.adjust(abs.$gray, $lightness: -12%)
  );
}

.btn-outline {
  @include abs.button(
    $bg: abs.$blue-dark,
    $color: abs.$blue-dark,
    $outline: true
  );
}
