@use '../abstracts/index' as abs;

.btn {
  @include abs.button(
    $bg: abs.$blue,
    $color: abs.$white,
    $hover-bg: abs.$gray
  );
}

.btn-secondary {
  @include abs.button(
    $bg: abs.$gray,
    $color: abs.$white,
    $hover-bg: abs.$gray
  );
}

.btn-outline {
  @include abs.button(
    $bg: abs.$blue-dark,
    $color: abs.$blue-dark,
    $outline: true
  );
}
