@use '../abstracts/index' as abs;

@keyframes barSlideIn {
  0% {
    transform: translateX(-30%) scaleX(0.3);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }
}
